.DS_Store
vendor/
error.log
.phpunit.result.cache
bin/nginx/valet
bin/nginx/conf/nginx.conf
bin/nginx/conf/fastcgi_params
bin/acrylic/AcrylicCache.dat
bin/acrylic/AcrylicHosts.txt
.vscode
composer.lock
logo assets
/.idea
